/*
Theme Name: Betelgeuse Theme
Theme URI: https://gitlab.com/zagur/BetelgeuseTheme
Author: Jesús Camacho
Author URI: http://www.planetlibre.es
Description: Tema principal del planet sobre software libre.
Version: 0.2.8
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Wordpress, Free Software, GNU/Linux, software libre, planet.
Text Domain: planetlibre
GitLab Theme URI: https://gitlab.com/zagur/BetelgeuseTheme
GitLab Branch: master
Template version: 0.2.8
*/

/*
+ ADD FONTS
+ GLOBAL
+ CONTENT
+ CATEGORY
+ CONTENT ARCHIVE BLOG
+ CONTENT ARCHIVE PODCAST
+ NAVBAR
+ SINGLE
+ PAGE
+ SEARCH
+ NAVIGATION PAGE
+ NAVIGATION POST
+ AUTHOR
+ COMMENTS
+ SIDEBAR RIGHT
+ SIDEBAR FOOTER
+ FOOTER
+ FORMS
+ 404 ERROR
+ OTHERS
+ COOKIES
+ MODAL
+ RESPONSIVE
*/

/* ADD FONTS */
@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon.eot');
    src: url('fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon.woff') format('woff'),
         url('fonts/socicon.ttf') format('truetype'),
         url('fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

@font-face {
    font-family: 'Capsuula';
    src: url('fonts/Capsuula.ttf');
    src: url('fonts/Capsuula.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

@font-face {
    font-family: 'Aargh';
    src: url('fonts/Aaargh.ttf');
    src: url('fonts/Aaargh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
    font-family: 'socicon' !important;
    font-size: 18px;
    color: #F1F1F1;
}

/* GLOBAL */
body {
    color: #6B6B6B;
    background-color: #3D434A;
    word-wrap: break-word;
    font-family: 'Voltaire', sans-serif!important;
    line-height: 1.7;
    font-size: 14px;
}

a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

a:hover,
a:focus {
    color: #FFF;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
}

p {
    text-align: justify;
    color: #000;
    line-height: 1.8em;
}

span.debajo {
    background: #ff7700 none repeat scroll 0 0;
    bottom: -8px;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    width: 40px;
}
.entry-content p {
	font-family: 'Voltaire', sans-serif;
}
.entry-content ul li {
	list-style: outside none square;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato";
}

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 24px;
}

h3,
.h3 {
    font-size: 20px;
}

h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 13px;
}
.img img {
    height: 150px;
}
img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

div.img404 img { width: 75%;}
div.img404 {text-align: center;}



input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:  content-box;
  box-sizing:     content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}

span {
    color: #FFF;
}


/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Clearing floats */
.clear:before,
.clear:after,
.gallery:before,
.gallery:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.home-widget-area:before {
  content: '';
  display: table;
}

.clear:after,
.entry-content:after,
.gallery:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.home-widget-area:before {
  clear: both;
}


/* CONTENT */
.home #main {
    border: 5px solid #222;
}

.container {
    margin-bottom: 70px;
}

.main-content-area {
    margin-top: 50px;
}

.date {
    background-color: #222;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.blogname,
.blogtitle {
    font-family: "Lato";
    font-size: 20px;
}

h2.blogname {
    color: #fff;
    font-weight: bold;
    margin: 24px 0;
    padding-left: 25px;
}

.hentry h2, .hentry h2 a, .singlepage .post h2, .singlepage .page.comments h2 {
    color: #ffffff;
}

h2.blogtitle {
    margin: 20px 0;
    padding-left: 25px;
}
.hentry h2, .hentry h2 a, .singlepage .post h2, .singlepage .page.comments h2 {
    color: #ffffff;
}

.home .par:nth-child(2n+1), .archive .par:nth-child(2n+1) {
    background-color: #2C3E50;
}

.home .impar:nth-child(2n), .archive .impar:nth-child(2n) {
    background-color: #34495E;
}

article.category-podcast {
    background-color: #E64D2C!important;
}

.post-row .col-md-1 {
    height: 70px;
}

#primary {
    margin-bottom: 100px;
    transition: all 1s;
}

.no-articles h1 {
    color: #fff;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* CATEGORY */


/* CONTENT ARCHIVE BLOG */
.content-blog {
    background-color: #FFF;
}

.category-blog img {
    width: 100%;
}

.header-blog,
.text-blog {
    padding: 30px 10%;
}

.header-blog > h1 {
    border-bottom: 10px solid #1976d2;
    font-family: Lato;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

/* CONTENT ARCHIVE PODCAST */


/* NAVBAR */
.navbar-default {
    background-color: #3d434a;
    border: none;
    border-radius: 0px;
}

ul.nav li a,
.navbar-brand {
    font-family: "Oswald";
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #34495E;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #34495E;
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #3d434a;
}

.navbar-default .navbar-toggle:hover {
    border-color: none;
    background-color: #151515;
    border-radius: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    box-shadow: none;
}

.search-box {
    padding-bottom: 8px;
    padding-right: 25px;
    padding-top: 8px;
    width: 220px;
}
.dropdown-menu {
    border: none;
    border-radius: 0px;
}

.dropdown-menu li a span {
	margin-right: 10px;
}

.dropdown-menu > li > a:hover {
    background-color: #3A8BDF;
    color: #FFF;
}

.fa-facebook {
	color: #44609D;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-google-plus {
	color: #CC3332;
}

.fa-rss {
	color: #FF9600;
}

/* SINGLE */
.page .p-cont h2,
.single .p-cont h2 {
    background-color: #2c3e50;
    color: #fff;
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    margin: 0px 0px;
    text-align: center;
}

article {
    background-color: #34495e;
    margin: 0 auto;
}

.single .panel {
    border-radius: 0;
}

.single .panel-body p,
.single .panel-body p a {
    color: #000 !important;
    font-size: 20px;
    text-align: center;
}

.entry {
    padding: 30px;
}

/* PAGE */
.page .entry h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 24px;
}

.page ul li {
    color: #FFF;
    font-size: 16px;
}

.alert {
    background-color: #34495e;
    border-color: #2c3e50;
    border-radius: 0;
    margin: 0 auto 15px;
    width: 100%;
    transition: all .8s;
}

.alert h2 {
    margin: 10px;
}

.alert:hover {
    background-color: #2C3E50;
    transition: all .8s;
}

/* SEARCH */
.btn-primary, .btn-primary:hover {
    background-color: #3a8bdf;
    border-color: #3a8bdf;
    color: #fff;
}

.page-header {
    background-color: #34495e;
    border: none;
    padding: 20px;
    text-align: center;
    margin: 0px;
}

.page-header h1,
.page-header h1 span {
    color: #FFF;
    font-family: "Lato";
    text-transform: uppercase;
}

.page-header h1 span {
    text-decoration: underline;
}

/* NAVIGATION PAGE */



/* NAVIGATION POST */




/* AUTHOR */


/* SIDEBAR RIGHT */
#secondary {
    background-color: #34495e;
    border: 5px solid #222;
    padding: 0;
    position: fixed;
    right: 10px;
    transition: all 1s;
}

#sidebar {
    padding: 15px;
}

.pl, .subpl, .plautor {
    font-family: "Lato";
    color: #FFF;
}

#sidebar h2.pl {
    margin-top: 10px;
    letter-spacing: 6px;
}

.subpl {
    font-size: 14px;
    letter-spacing: 10px;
    margin-top: 0;
}

.plautor {
    font-size: 18px;
    margin-right: 12px;
}

.title-sidebar {
    border-bottom: 2px solid #222;
    color: #fff;
    font-family: "Oswald";
    font-size: 16px;
    margin-bottom: 14px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.list-group-item {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    padding: 4px 2px;
    color: #FFF;
}

.badge {
    background-color: #2c3e50;
    border-radius: 0;
    font-weight: bold;
    padding: 5px 10px;
    width: 45px;
}

/* SIDEBAR FOOTER */
.sidebar-footer {
    background-color: #34495E;
    padding: 25px 10px;
}

.sidebar-footer img {
    width: 75%;
}

/* FOOTER */
#footer {
    bottom: 0;
    color: #FFF;
    font-weight: bold;
    left: 0;
    margin-bottom: 0 !important;
    padding: 15px 0 0;
    position: fixed;
    width: 100%;
}

/* FORMS */
/* IMPORTANT CONTACT FORM PLUGIN */
.items-required {
    color: #fff;
    font-weight: bold;
    text-align: right;
    margin-bottom: 25px;
}

.page .fa-asterisk {
    bottom: 8px;
    color: #e74c3c !important;
    font-size: 10px;
    position: relative;
}

.page input {
    border: medium none;
    border-radius: 0;
    padding: 8px;
    color: #454545;
}

.page label {
    color: #FFF;
    text-transform: uppercase;
}

.page .btn-betelgeuse {
    background-color: #27ae60;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: background-color .5s;
}

.page .btn-betelgeuse:hover {
    background-color: #2ecc71;
    transition: background-color .5s;
}

.page div.wpcf7-validation-errors,
.page div.wpcf7-spam-blocked,
.page div.wpcf7-mail-sent-ok {
    color: #fff!important;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.page div.wpcf7-validation-errors,
.page div.wpcf7-spam-blocked {
    background-color: #f39c12;
    border: 2px solid #f7e700;
}

.page div.wpcf7-mail-sent-ok {
    border: 2px solid #27ae60;
    background-color: #2ecc71;
}

span.wpcf7-not-valid-tip {
    background-color: #e74c3c;
    color: #fff;
    display: block;
    float: right;
    font-size: 1em;
    height: 45px;
    margin-left: 15px;
    padding: 10px 30px;
}

/* 404 ERROR */
p.error404 {
    font-size: 135px;
    font-family: "Voltaire";
    color: rgba(35, 35, 35, 0.6);
}

.error404 .page-title {
    margin-bottom: 0;
}

.h3error {
    text-transform: uppercase;
    font-family: "Oswald";
    color: rgba(35, 35, 35, 0.4);
}

.h4error {
    font-family: "Voltaire", "Open Sans", sans-serif;
    color: rgba(35, 35, 35, 0.8);
}

.error-content {
    padding: 25px 25px;
    background-color: #FFF;
}


/* OTHERS */
.share {
    padding: 21px 0px;
    position: absolute;
}

.share span {
    color: #fff;
    font-size: 20px;
}

.share-box {
    height: 60px;
    position: relative;
    padding: 0px;
}

.email-box {
    background-color: #F32C26;
}

.fb-box {
    background-color: #3D5A98;
}

.tw-box {
    background-color: #5EA9DD;
}

.gp-box {
    background-color: #DD4D41;
}

.rd-box {
    background-color: #FF4500;
}

.gs-box {
    background-color: #A22430;
}

.dp-box {
    background-color: #222222;
}

.share-box-link {
    color: #fff;
    font-size: 24px;
    height: 60px;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.share-box-link:hover {
    color: #FFF!important;
    text-decoration: underline;
}

#menu-social ul li a span {
    font-family: "FontAwesome";
}

/* COOKIES */
.cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1976D2;
}

.cookies p {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.home .cookies {
    bottom: 0;
    height: 80px;
    margin-bottom: 50px;
    position: fixed;
    right: 0;
    width: 80px;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    border-right: 40px solid #1976D2;
    border-bottom: 40px solid #1976D2;
    background-color: transparent;
}

.cookies span {
    color: #fff;
    padding: 8px;
    cursor: pointer;
}

.single .cookies {
    margin-bottom: 0px;
}

.oculto {
    display: none;
}

/* MODAL */
.modal-open .modal {
    background-color: rgba(0,0,0,0.75);
}

.modal-content {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

button.close {
    background-color: #2c3e50;
    cursor: pointer;
    height: 63px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 2px;
    width: 65px;
}

.modal-header {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
}

.modal-title {
    text-transform: uppercase;
    color: #FFF;
}

.modal-footer {
    border: none;
}

.modal-footer button {
    margin-top: 15px;
}

/* BOOTSTRAP */
.btn,
.form-control {
    border-radius: 0px;
}

.glyphicon-search {
    color: #FFF;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    p.error404 {
        font-size: 99px;
    }
}

@media (max-width: 990px) {
    #footer {
        display: none;
    }
}

@media (max-width: 760px) {
    p.error404 {
       font-size: 80px;
   }
}

@media (max-width: 590px) {
    p.error404 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    #content,
    #primary {
        padding: 0!important;
    }

    h2.blogtitle {
        font-size: 22px;
    }

    h2.blogname {
        display: none;
    }

    .alert {
        width: 85%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }
    .cookies {
        display: none;
    }
}

@media (max-width: 400px) {
    p.error404 {
        font-size: 35px;
    }
}

/* PRINT STYLE */
@media print {
body {
    background:white;
    font-size:10pt;
    margin:0 }
#sidebar { display:none }
#header { height:75px }
#content{ margin-left:0;
     float:none;
     width:auto }
.demo .red { color:black;
     font-weight:bold }
#content a { font-weight:bold;
     color:#000066;
     text-decoration:underline }
#content{ margin-left:0;
     float:none;
     width:auto }
#footer, .ad { display:none }
h1, h2, h3, h4, h5, h6 { page-break-after:avoid;
     page-break-inside:avoid }
h3 { margin-left:10px;
     margin-bottom:0px;
     padding-bottom:0px }
blockquote, table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }
img { display: none;}
.right { float: right; }
.left { float: left }
img { page-break-inside:avoid;
     page-break-after:avoid; }
}
